In [7]:
from sklearn import tree
import pandas as pd
import os

In [8]:
heart_df = pd.read_csv("Resources/heart.csv")
heart_df

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [10]:
target = heart_df["output"]

In [11]:
data = heart_df.drop("output", axis=1)
feature_names = data.columns

In [12]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data, target, random_state=42)

In [13]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)
clf.score(X_test, y_test)

0.8026315789473685

In [14]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=200)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

0.8421052631578947

In [15]:
sorted(zip(rf.feature_importances_, feature_names), reverse=True)

[(0.14901687382174875, 'caa'),
 (0.12073125623698991, 'oldpeak'),
 (0.11189753212901425, 'cp'),
 (0.10652133143692953, 'thalachh'),
 (0.09340394095425193, 'age'),
 (0.09327495432301428, 'thall'),
 (0.07545491967574956, 'chol'),
 (0.06725419434243568, 'exng'),
 (0.0648282676704792, 'trtbps'),
 (0.05237886308745558, 'slp'),
 (0.03467405256860572, 'sex'),
 (0.020242768671049904, 'restecg'),
 (0.010321045082275746, 'fbs')]

In [16]:
from joblib import dump
dump(rf,"randomforest.joblib")

['randomforest.joblib']